.project-menu {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: rgba(248, 249, 250, 1);
  border: 1px solid rgba(128, 128, 128, 0.42);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 1rem;
}

.project-menu_more-icon {
  cursor: pointer;
}

.project-menu_return-icon {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

/* mobile */
@media (max-width: 414px) {
  .project-menu {
    position: initial;
    padding: 0.8rem 0.5rem;
  }
}
