.task.completed * {
  color: rgb(213, 213, 213);
  text-decoration: line-through;
  transition: color 0.2s;
}

.task.overdue * {
  color: #dc3545;
}

.task_header {
  cursor: pointer;
}

.task_complete-btn {
  margin-right: 1rem;
  width: 50px;
}

.task_deadline {
  font-size: 0.7rem;
  line-height: 1;
  font-style: italic;
  position: absolute;
  top: 2px;
  right: 0;
  left: 0;
}

/* mobile */
@media (max-width: 414px) {
  .task {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .task_complete-btn {
    margin-right: 0.4rem;
  }
}
