.reg-form_input-addon-icon {
  width: 15px;
  height: 15px;
  stroke-width: 1;
}

.reg-form_append > span {
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
