.add-todo {
  margin-top: 0.05rem; /* нет аналога */
  padding: 0.75rem 1.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1.1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 1);
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.add-todo_form {
  display: flex;

  /* align-items: center;  */
}

.add-todo_btn {
  margin-left: 1.25rem;
}

.add-todo_btn > svg {
  stroke-width: 3;
}

.add-todo_input {
  font-size: 1.25rem;
  font-weight: 500;
}

.add-todo_input::placeholder {
  color: rgb(170, 170, 170);
  font-weight: normal;
}

.add-todo_input::-webkit-input-placeholder {
  color: rgb(170, 170, 170);
  font-weight: normal;
}

.add-todo_input::-moz-placeholder {
  color: rgb(170, 170, 170);
  font-weight: normal;
}

.add-todo_input:-moz-placeholder {
  color: rgb(170, 170, 170);
  font-weight: normal;
}

.add-todo_input:-ms-input-placeholder {
  color: rgb(170, 170, 170);
  font-weight: normal;
}
