.header {
  padding: 1rem 2rem;
}

.header_user-btn {
  max-width: 8rem;
  text-overflow: ellipsis;
}

/* mobile */
@media (max-width: 414px) {
  .header {
    padding: 1rem;
  }

  .header_user-btn {
    max-width: 5rem;
  }
}
