.task.completed * {
  color: rgb(213, 213, 213);
  text-decoration: line-through;
  transition: color 0.2s;
}

.timer_input {
  font-size: 1.1rem;
  font-weight: 500;
  padding-right: 1rem;
}

/* width: 110%; */

.react-datepicker-wrapper {
  display: block;
}

.timer_set-btn {
  border-right: 0.4px dotted #fff;
}

.timer_set-toggle {
  border-left: 0.4px dotted #fff;
}

/* mobile */
@media (max-width: 359px) {
  .timer_datepicker {
    margin-left: -1.5rem;
  }

  .react-datepicker__time-container,
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box {
    width: 76px;
  }
}
