.timer-modal_input {
  font-size: 1.1rem;
  font-weight: 500;
  padding-right: 1rem;
}

.react-datepicker-wrapper {
  display: block;
}

/* mobile */
@media (max-width: 359px) {
  .timer-modal_datepicker {
    margin-left: -1.5rem;
  }

  .react-datepicker__time-container,
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box {
    width: 76px;
  }
}
